discord
asyncio
aiofiles
openai
openai-async
pymongo
EdgeGPT
pytz
topggpy
cryptography
tiktoken
pinecone-client
stripe
google-api-python-client
python-dotenv
PyPDF2
youtube-transcript-api
pillow
memory_profiler
psutil
BeautifulSoup4
duckduckgo-search
joblib 
markdownify
diskcache
